- var defaultPronouns = ["he/him", "she/her", "they/them"];

doctype html

include pug/info.pug

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Variable Closet
        link(rel="stylesheet", href="css/vendor/tagify.css")
        link(rel="stylesheet", href="css/stylesheet.css")

        //script(src="https://unpkg.com/vue@next")
    body
        main
            +info("Hi, my name is", "And I'm a ", "")
            
            hr

            section#dead
                h2 I'm still closeted with: 
                textarea

                +info("Refer to me as", "And as if I was... ", "dead")
        
        script(src="js/vendor/jquery-3.6.0.min.js")
        script(src="js/vendor/jQuery.tagify.min.js")
        script(src="js/vendor/tagify.polyfills.min.js")
        script(src="js/input.js")
        script(src="js/tags.js")

            


